<footer id="connect">
  <span class="tagline">Good things take time.</span>
  <ul class="social-row">
    <li><a href="https://www.youtube.com/@clayhuffman-operator" target="_blank" rel="noopener">YouTube</a></li>
    <li><a href="https://www.tiktok.com/@claythecyberguy" target="_blank" rel="noopener">TikTok</a></li>
    <li><a href="https://www.instagram.com/thepatientagent/" target="_blank" rel="noopener">Instagram</a></li>
    <li><a href="https://linkedin.com/in/clayhuffman" target="_blank" rel="noopener">LinkedIn</a></li>
  </ul>
  <span class="copyright">© DAT Media Marketing LLC. All rights reserved.</span>
</footer>
